<main id="home" class="grid">
    <img class="logo" src="../../../assets/img/ic_launcher.png" alt="">
    <input id="user" class="rectangle" type="number" placeholder="Número de empleado/a">
    <label id="lb-user" for="user"><i class="far fa-user fa-2x"></i></label>
    <input id="password" class="rectangle" type="password" placeholder="Clave de empleado/a">
    <label id="lb-password" for="password"><i class="fas fa-lock fa-2x"></i></label>
    <button (click)=goOrder() type="button" id="btn-log-in" class="ellipse" type="button"></button>
</main>