<header>
    <nav id="nav-logo" class="nav">
        <img id="logo-nav" src="../../../../assets/img/logo-nav.png" alt="">
        <h3 id="desayuno">Desayuno</h3>
    </nav>

    <nav id="nav-icon">
        <a [routerLink]="['/menu']" id="menu"><img class="icons" src="../../../../assets/img/menu.png" alt=""></a>
        <img id="configuration" class="icons" src="../../../../assets/img/configuración.png" alt="">
        <a [routerLink]="['/home']" id="exit"><img class="icons" src="../../../../assets/img/salir.png" alt=""></a>
    </nav>
</header>0