* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Verdana;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.grid {
    display: grid;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-items: center;
}


/* Home */

#home {
    background: #FF6A5C;
    grid-template-columns: 25% 12% 38% 25%;
    grid-template-rows: 10% 40% 15% 15% 10% 10%;
}

.logo {
    width: 227px;
    height: 307px;
    grid-column: 1/5;
    grid-row: 2/3;
    justify-self: center;
}

.rectangle {
    width: 471px;
    height: 89px;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 26px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.ellipse {
    width: 75px;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.9);
    background-image: url('assets/img/check.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    justify-self: center;
}

#user {
    grid-column: 2/4;
    grid-row: 3/4;
}

#password {
    grid-column: 2/4;
    grid-row: 4/5;
}

#btn-log-in {
    grid-column: 2/4;
    grid-row: 5/7;
}

#lb-user {
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: center;
}

#lb-password {
    grid-column: 2/3;
    grid-row: 4/5;
    justify-self: center;
}


/* Estilos del footer */

footer {
    display: grid;
    grid-template-columns: 60% auto;
    grid-row: 10% auto;
    height: 24vh;
}

#nav-footer {
    background-color: #38404a;
    height: 24vh;
    width: 100%;
    grid-column: 2;
    display: grid;
    grid-template-columns: 15% 30% auto 30% 15%;
    grid-template-rows: 15% 40% auto;
}

.font-roboto {
    font-family: Roboto;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.btn-footer {
    font-size: 18px;
    width: 108px;
    height: 60.3px;
    border-radius: 10px;
    background-image: linear-gradient(to top, #a4d4b4 100%, rgba(0, 245, 81, 0));
}

#confirm {
    grid-column: 2/3;
    grid-row: 2/3;
}

#cancel {
    grid-column: 4/5;
    grid-row: 2;
}

.total {
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
}

#p-total {
    grid-column: 2;
    grid-row: 1;
}

#p-cost {
    grid-column: 4;
    grid-row: 1;
    text-align: left;
}


/* Clases de botones del componente breakfast y food */

.button {
    width: 108px;
    height: 93px;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000
}

.containerB {
    grid-row: auto;
    display: grid;
    height: 89vh;
    grid-template-columns: 3% 25% 25% 25% auto;
    grid-template-rows: 5% 20% 5% 20% 5% 20% 5% auto;
}

.containerF {
    overflow: scroll;
    grid-row: auto;
    display: grid;
    height: 89vh;
    grid-template-columns: 3% 25% 25% 25% auto;
    grid-template-rows: 5% 20% 20% 5% 20% 5% 20% auto;
}

.saucer {
    background-color: #FF6A5C;
    margin: auto;
    grid-row: 2;
}

.simple-saucer {
    background-color: #EAB126;
    margin: auto;
}

.drink {
    background-color: #20948B;
    margin: auto;
    grid-row: 4/5;
}

.ingredient-b {
    background-color: #C0DA7A;
    margin: auto;
    grid-row: 6/7;
}

.ingredient-f {
    background-color: #C0DA7A;
    margin: auto;
}

.ok {
    grid-column: 5;
    grid-row: 8/9;
    background-color: #A4D4B4;
    margin: auto;
}

.extras {
    background-color: #EDDD4C;
    margin: auto;
}

.garrison {
    background-color: #C08DBA;
    margin: auto;
}

.title-order {
    font-weight: bold;
    font-size: 25px;
    grid-column: 2;
}

.img-button {
    width: 39px;
    height: 38px;
}


/* breakfast  */

#p-saucer {
    grid-column: 2;
    grid-row: 1;
}

#sandwich {
    grid-column: 2;
}

#p-drink {
    grid-row: 3/4
}

#juice {
    grid-column: 2;
}

#american {
    grid-column: 3;
}

#coffe {
    grid-column: 4;
}

#p-ingredients {
    grid-row: 5/6;
}

#cheese {
    grid-column: 2;
}

#onion {
    grid-column: 3;
}

#tomato {
    grid-column: 4;
}

#lettuce {
    grid-column: 5;
}

#p-extra {
    grid-row: 7/8;
}

#extra-cheese {
    grid-column: 2;
    grid-row: 8/9;
}


/* Ticket */

.font-verdana {
    font-family: Verdana;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
}

.aling-left {
    text-align: initial;
}

#main-ticket {
    display: grid;
    grid-template-columns: 60% auto;
    width: 100%;
    height: 65vh;
}

#ticket {
    background-color: #38404a;
    text-align: center;
    font-size: 25px;
    grid-column: 2;
}

#elements {
    display: grid;
    grid-template-columns: 15% 45% auto;
}

#quantity {
    grid-column: 1;
    margin: auto;
}

#item {
    grid-column: 2;
}

#cost {
    grid-column: 3;
}

#main-products {
    background-color: #242e3a;
    grid-column: 1;
    margin-right: 5px;
    height: 89vh;
}